.slider-container {
	display: flex;
	align-items: center;
	overflow-y: auto;
	margin: auto;
	max-width: 50rem;
}

.items-container {
	display: flex;
	overflow-y: hidden;
	justify-content: center;
	padding: 10px;
}

.items-container::-webkit-scrollbar {
	display: none;
}

.single-item-container {
	padding: 10px;
	text-align: center;
	cursor: pointer;
	max-width: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-class {
	cursor: pointer;
}
